/* Resumes */
.resume {
	margin: 60px 0;
}
.resume_sections {
	display: flex;
	gap: 50px;
	margin-top: 30px;
}
.resume_boxs {
	width: 50%;
}

.resume_box {
	padding-left: 30px;
	margin-bottom: 20px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	position: relative;
	background: #fff;
	box-shadow: 1px 2px 6px #95f7fc86;
	padding: 10px;
	/* width: 100%; */
}
.resume_box .year {
	font-weight: 600;
	font-size: 14px;
}
.resume_box::before {
	content: "";
	position: absolute;
	top: 0;
	left: -20px;
	height: 100%;
	width: 3px;
	background: var(--primary);
}

.resume_box .icon {
	position: absolute;
	top: -15px;
	left: -26px;
	color: var(--primary-dark);
}
.resume_box .title {
	color: var(--primary-dark);
}
.resume_box .year {
	color: var(--primary);
}
.resume_box .desc {
	font-size: 14px;
}
/* Resumes */
